    {% extends '::base.html.twig' %}

    {% block body %}

    <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary margin-bottom" href="{{ path('sectormesa_new') }}">
                    <i class="fa fa-plus-circle"></i> Nuevo
                </a>
            </div>
        </div>    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado SectorMesa</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="data-table table table-bordered table-striped">
                        <thead>
                        <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Activo</th>
                                <th>Fechacreacion</th>
                                <th>Fechaactualizacion</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sectorMesa in sectorMesas %}
                        <tr>
                                    <td>
                                        <a href="{{ path('sectormesa_show', { 'id': sectorMesa.id }) }}">{{ sectorMesa.id }}</a>
                                    </td>
                                    <td>{{ sectorMesa.nombre }}</td>
                                    <td>{{ sectorMesa.descripcion }}</td>
                                    <td>{% if sectorMesa.activo %}Si{% else %}No{% endif %}</td>
                                    <td>{% if sectorMesa.fechaCreacion %}{{ sectorMesa.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>{% if sectorMesa.fechaActualizacion %}{{ sectorMesa.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>

                                            <a class="btn btn-default"
                                               href="{{ path('sectormesa_show', { 'id': sectorMesa.id }) }}"><i
                                                        class="fa fa-fw fa-eye"></i></a>

                                            <a class="btn btn-default"
                                               href="{{ path('sectormesa_edit', { 'id': sectorMesa.id }) }}"><i
                                                        class="fa fa-fw fa-edit"></i></a>
                                    </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    {% endblock %}
