{% extends '::base.html.twig' %}

    {% block body %}
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Rol</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="row">
                    <div class="col-md-12">

                        <form action="{{ path('rol_adm',{id:rol.id}) }}" method="post">

                            {{ form_row(form.nombre) }}
                            {{ form_row(form.descripcion) }}

                            <div class="box-group" id="accordion">
                                {% for c, controller in routes %}
                                    <div class="panel box box-primary">
                                        <div class="box-header with-border agrupador" data-content="{{ c }}"
                                             data-state="0">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#{{ c }}"
                                                   aria-expanded="true" class="">
                                                    {{ c }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="{{ c }}" class="panel-collapse collapse" style="">
                                            <div class="box-body">
                                                {% for r in controller %}
                                                    <div class=" col-md-4">
                                                        <label>
                                                            <input name="rol[]" {% if r.activo %} checked {% endif %}
                                                                   value="{{ r.id }}" type="checkbox">
                                                            {{ r.nombre }}

                                                            <small>
                                                                {{ r.descripcion }}
                                                            </small>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="hidden">
                                {{ form_rest(form) }}
                            </div>

                            <button type="submit" class="btn btn-primary"><i
                                        class="fa fa-save"></i> Guardar
                            </button>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>

        <div class="form-buttons">
            <a class="btn btn-default" href="{{ path('rol_index') }}">Volver </a>
        </div>
    {% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
            $("body").on("dblclick", ".agrupador", function () {
                var state = parseInt($(this).data('state'));
                var content = ($(this).data('content'));

                if (state) {
                    $("#" + content + " :checkbox ").attr("checked", false);
                    $(this).data('state', 0);
                } else {
                    $("#" + content + " :checkbox ").attr("checked", "checked");
                    $(this).data('state', 1);
                }
            });
        });

    </script>
{% endblock %}