    {% extends '::base.html.twig' %}

    {% block body %}

    <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary margin-bottom" href="{{ path('combo_new') }}">
                    <i class="fa fa-plus-circle"></i> Nuevo
                </a>
            </div>
        </div>    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Combo</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="data-table table table-bordered table-striped">
                        <thead>
                        <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Porcentaje</th>
                                <th>Precio</th>
                                <th>Image</th>
                                <th>Activo</th>
                                <th>Fechacreacion</th>
                                <th>Fechaactualizacion</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for combo in combos %}
                        <tr>
                                    <td>
                                        <a href="{{ path('combo_show', { 'id': combo.id }) }}">{{ combo.id }}</a>
                                    </td>
                                    <td>{{ combo.nombre }}</td>
                                    <td>{{ combo.descripcion }}</td>
                                    <td>{{ combo.porcentaje }}</td>
                                    <td>{{ combo.precio }}</td>
                                    <td>{{ combo.image }}</td>
                                    <td>{% if combo.activo %}Si{% else %}No{% endif %}</td>
                                    <td>{% if combo.fechaCreacion %}{{ combo.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>{% if combo.fechaActualizacion %}{{ combo.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>

                                            <a class="btn btn-default"
                                               href="{{ path('combo_show', { 'id': combo.id }) }}"><i
                                                        class="fa fa-eye"></i></a>

                                            <a class="btn btn-default"
                                               href="{{ path('combo_edit', { 'id': combo.id }) }}"><i
                                                        class="fa fa-edit"></i></a>
                                    </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    {% endblock %}
