    {% extends '::base.html.twig' %}

    {% block body %}

    <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary margin-bottom" href="{{ path('categoria_new') }}">Nuevo</a>
            </div>
        </div>    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado Categoria</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="data-table table table-bordered table-striped">
                        <thead>
                        <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Controlastock</th>
                                <th>Activo</th>
                                <th>Fechacreacion</th>
                                <th>Fechaactualizacion</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for categorium in categorias %}
                        <tr>
                                    <td>
                                        <a href="{{ path('categoria_show', { 'id': categorium.id }) }}">{{ categorium.id }}</a>
                                    </td>
                                    <td>{{ categorium.nombre }}</td>
                                    <td>{{ categorium.descripcion }}</td>
                                    <td>{% if categorium.controlaStock %}Si{% else %}No{% endif %}</td>
                                    <td>{% if categorium.activo %}Si{% else %}No{% endif %}</td>
                                    <td>{% if categorium.fechaCreacion %}{{ categorium.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>{% if categorium.fechaActualizacion %}{{ categorium.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>

                                            <a class="btn btn-default"
                                               href="{{ path('categoria_show', { 'id': categorium.id }) }}"><i
                                                        class="fa fa-eye"></i></a>

                                            <a class="btn btn-default"
                                               href="{{ path('categoria_edit', { 'id': categorium.id }) }}"><i
                                                        class="fa fa-edit"></i></a>
                                    </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    {% endblock %}
