{% extends '::base.html.twig' %}

{% block body %}
    <h1>Categoria</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ categorium.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ categorium.descripcion }}</td>
            </tr>
            <tr>
                <th>Controlastock</th>
                <td>{% if categorium.controlaStock %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if categorium.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if categorium.fechaCreacion %}{{ categorium.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{% if categorium.fechaActualizacion %}{{ categorium.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-buttons">

            <a class="btn btn-default" href="{{ path('categoria_index') }}">Volver </a>

            <a class="btn btn-default" href="{{ path('categoria_edit', { 'id': categorium.id }) }}">Editar</a>

            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
