{% extends '::base.html.twig' %}

    {% block body %}

        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary margin-bottom" href="{{ path('producto_new') }}">
                    <i class="fa fa-plus-circle"></i> Nuevo
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listado Producto</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table class="data-table table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Ingredientes</th>
                                <th>Controlastock</th>
                                <th>Cantidad</th>
                                <th>Preciodeventa</th>
                                <th>Preciodecosto</th>
                                <th>Image</th>
                                <th>Activo</th>
                                <th>Fechacreacion</th>
                                <th>Fechaactualizacion</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for producto in productos %}
                                <tr>
                                    <td>
                                        <a href="{{ path('producto_show', { 'id': producto.id }) }}">{{ producto.id }}</a>
                                    </td>
                                    <td>{{ producto.nombre }}</td>
                                    <td>{{ producto.descripcion }}</td>
                                    <td>{{ producto.stringIngredientes | join(' - ') }}</td>
                                    <td>{% if producto.controlaStock %}Si{% else %}No{% endif %}</td>
                                    <td>{{ producto.cantidad }}</td>
                                    <td>{{ producto.precioDeVenta }}</td>
                                    <td>{{ producto.precioDeCosto }}</td>
                                    <td>{{ producto.image }}</td>
                                    <td>{% if producto.activo %}Si{% else %}No{% endif %}</td>
                                    <td>{% if producto.fechaCreacion %}{{ producto.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>{% if producto.fechaActualizacion %}{{ producto.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>

                                        <a class="btn btn-default"
                                           href="{{ path('producto_show', { 'id': producto.id }) }}"><i
                                                    class="fa fa-fw fa-eye"></i></a>

                                        <a class="btn btn-default"
                                           href="{{ path('producto_edit', { 'id': producto.id }) }}"><i
                                                    class="fa fa-fw fa-edit"></i></a>

                                        <a class="btn btn-default"
                                           href="{{ path('precio_new_producto', { 'id': producto.id }) }}"><i
                                                    class="fa fa-fw fa-dollar"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    {% endblock %}
